.secure-passkey-login-wrapper
{
	display: none;
	padding-bottom: 1em;
}

	.submit + .secure-passkey-login-wrapper
	{
		clear: both;
		padding-top: 1em;
	}

	.secure-passkey-login-wrapper .errorMessage, .secure-passkey-login-wrapper .successMessage, .secure-passkey-login-wrapper .spinnerText
	{
		display: none;
	}