.secure-passkeys .wp-list-table
{
	margin-bottom: 1em;
}

	.secure-passkeys .wp-list-table th, .secure-passkeys .wp-list-table td
	{
		padding: .8em 1em;
	}

/*.secure-passkeys .label.label-last-used-on
{
	background: #1bd288;
	display: block;
	padding: 0;
}*/

/*.secure-passkeys .button .dashicons
{
	vertical-align: middle;
}*/

.secure-passkeys .button.button-cancel
{
	color: #b12222;
	border-color: #b12222;
	background: #fff6f6;
}

.secure-passkeys .button.add {
	margin-bottom: 1em;
}

/*.secure-passkeys .input-wrapper {
	margin-top: 1.5em;
}*/

.secure-passkeys .description {
	padding: 1em;
	display: block;
	background: #e4e4e4;
	margin-bottom: 1em;
	font-size: 1.3em;
}

.secure-passkeys .input-error {
	color: #d63638;
	padding: .5em 0;
	font-size: 1.3em;
}

@media screen and (max-width: 782px)
{
	.secure-passkeys .wp-list-table thead
	{
		display: none !important;
	}

	.secure-passkeys .wp-list-table tbody tr
	{
		display: block !important;
		padding: 10px !important;
	}

	.secure-passkeys .wp-list-table td
	{
		display: block !important;
		width: 100% !important;
		text-align: right !important;
		position: relative !important;
		padding-left: 50% !important;
	}

	.secure-passkeys .wp-list-table td::before
	{
		content: attr(data-label) !important;
		font-weight: bold !important;
		text-align: left !important;
		position: absolute !important;
		left: 10px !important;
		top: 50% !important;
		transform: translateY(-50%) !important;
		white-space: nowrap !important;
	}
}