[v-cloak] {
	display: none;
}

.small {
	font-size: 10px;
}

.button.button-reset,
.button.add {
	color: #fff;
	border-color: #b90505;
	background: #b90505;
}

.button.button-reset:hover,
.button.add:hover {
	border-color: #c30e0e;
	background: #c30e0e;
	color: #fff;
}

.label {
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
	padding: 3px 5px;
	color: #fff;
	border-radius: 3px;
}

.label.label-last-used-on {
	background: #1bd288;
	display: block;
	padding: 0;
}

.label.label-default {
	background: #607d8b;
}

.label.label-remove {
	background: #e02215;
}

.label.label-delete {
	background: #a1180e;
}

.label.label-activate {
	background: #04732b;
}

.label.label-deactivate {
	background: #ae8127;
}

.label.label-login {
	background: #6f59b3;
}

.label.label-register {
	background: #009688;
}

.authenticator-icon {
	width: 15px;
	background: #ffffff;
	padding: 5px;
	border: 1px solid #e8e8e8;
	vertical-align: middle;
	border-radius: 50%;
}

.rtl {
	direction: rtl;
	text-align: right;
}

.aligned {
	direction: ltr;
	text-align: left;
}
[dir="rtl"] .aligned {
	direction: rtl;
	text-align: right;
}

.fade-enter-active,
.fade-leave-active,
.bounce-enter-active,
.bounce-leave-active {
	animation: bounce-in 0.5s;
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to,
.bounce-enter-active,
.bounce-leave-active {
	display: none;
}

.wp-core-ui .button-active,
.wp-core-ui .button-active:hover {
	background: #2e9688;
	border-color: #2e9688;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

.spinner.is-active.spin {
	margin: 0;
	float: none;
}

.spinner-button {
	background-size: 12px 12px;
	margin-top: 2px;
	width: 13px;
	height: 18px;
}

.table-count {
	padding: 5px 0;
	display: block;
}

.notice,
div.error,
div.warning {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-color: #ff9966;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin: 5px 15px 2px;
	padding: 1px 12px;
}

div.error {
	border-left-color: #d63638;
}

[dir="rtl"] .notice,
[dir="rtl"] div.error,
[dir="rtl"] div.warning {
	border: 1px solid #c3c4c7;
	border-right-color: #ff9966;
	border-right-width: 4px;
	border-left-color: #c3c4c7;
	border-left-width: 1px;
}

[dir="rtl"] .notice,
[dir="rtl"] div.error {
	border-right-color: #d63638;
	border-right-width: 4px;
	border-left-color: #c3c4c7;
	border-left-width: 1px;
}

.wp-list-table.passkeys .column-id {
	width: 2.2em;
}

.wp-list-table.passkeys .column-user {
	width: 15%;
}

.wp-list-table.passkeys .column-description {
	width: 50%;
}

.wp-list-table.passkeys .column-authenticator_name {
	width: 20%;
}

.text-active {
	color: #358f49;
}

.text-inactive {
	color: #d63638;
}

.help {
	font-size: 12px !important;
	color: #777 !important;
}

.loading-blur {
	filter: blur(5px);
	pointer-events: none;
	transition: filter 0.5s ease-in-out;
}

@keyframes bounce-in {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.005555);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 600px) {
	.nav-tab-wrapper,
	.wrap h2.nav-tab-wrapper,
	h1.nav-tab-wrapper {
		border-bottom: 1px solid #c3c4c7 !important;
	}
}

@media screen and (max-width: 600px) {
	h1 .nav-tab,
	h2 .nav-tab,
	h3 .nav-tab,
	nav .nav-tab {
		border-bottom: unset !important;
	}
}

.mt-15 {
	margin-top: 15px;
}

.mt-10 {
	margin-top: 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.panel {
	background: #fff;
	border-radius: 5px;
}

.panel.panel-default {
	min-height: 325px;
}

.list-group-empty {
	text-align: center;
	display: block;
	padding: 85px 0;
	min-height: 150px;
}

.list-group {
	max-height: 325px;
	overflow-y: auto;
}

.list-group-item {
	padding: 10px;
	border: 0 !important;
	border-bottom: 1px solid #ccc !important;
}

.list-group-item:last-child {
	border-bottom: 0 !important;
}

.list-group-item .authenticator-name {
	padding: 2px 0;
}

.list-group-item .authenticator-large-name {
	font-size: 15px;
	margin-bottom: 10px;
	display: block;
}

.list-group-item .authenticator-large-count {
	font-weight: bold;
	font-size: 15px;
}

.list-group-item .username {
	font-weight: bold;
	display: block;
	margin-bottom: 3px;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.col-md-12 {
	position: relative;
	width: 100%;
}

.col-md-4 {
	position: relative;
	width: 100%;
}

@media (min-width: 768px) {
	.col-md-4 {
		flex: 0 0 calc((100% - 40px) / 3);
	}
}

.float-end {
	float: right;
}

[dir="rtl"] .float-end {
	float: left;
}

@media screen and (max-width: 782px) {
	.wp-list-table thead {
		display: none !important;
	}

	.wp-list-table tbody tr {
		display: block !important;
		padding: 10px !important;
	}

	.wp-list-table td {
		display: block !important;
		width: 100% !important;
		text-align: right !important;
		position: relative !important;
		padding-left: 50% !important;
	}

	.wp-list-table td::before {
		content: attr(data-label) !important;
		font-weight: bold !important;
		text-align: left !important;
		position: absolute !important;
		left: 10px !important;
		top: 50% !important;
		transform: translateY(-50%) !important;
		white-space: nowrap !important;
	}

	.wp-list-table td.no-label {
		padding-left: initial !important;
		padding-right: initial !important;
		text-align: center !important;
	}

	[dir="rtl"] .wp-list-table td {
		text-align: left !important;
		padding-left: initial !important;
		padding-right: 50% !important;
	}

	[dir="rtl"] .wp-list-table td::before {
		text-align: right !important;
		left: initial !important;
		right: 10px !important;
	}
}
